<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <span><a href="/menu">検索</a></span>
    <span><a href="/post">追加</a></span>
    <span><a href="/delete">削除</a></span>
  </body>
</html>
