<table>
    <tr>
        <th>作成者</th>
        <td><input type="text" name="author" class="title_edit"></td>
    </tr>
    <tr>
        <th>タイトル</th>
        <td><input type="text" name="title" class="title_edit"></td>
    </tr>
    <tr>
        <th>内容</th>
        <td><textarea type="text" name="content" class="content_edit"></textarea></td>
    </tr>        
</table>