<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type"
            content="text/html"; charset="UTF8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><head><%= title %></head></h1>
        <div role="main">
            <p><%= content %></p>
            <form method="POST" action="/post">
                <%- include('post_data', { keyword:keyword }) %>
                <p><input type="submit" value="追加"></p>
            </form>
        </div>
        <span><a href="/">トップページ</a></span>
    </body>
</html>